<<<<<<< HEAD
.jumbotron p {
    font-size: 2vw;
}
.jumbotron li {
    font-size: 1.25vw;
=======
.jumbotron p {
    font-size: 2vw;
}
.jumbotron li {
    font-size: 1.25vw;
>>>>>>> 670ebc6... Update
}