.jumbotron p {
    font-size: 1.5vw;
}
.jumbotron form {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3em;
    width: 60vw;
    height: auto;
    background-color: #FFF;
    border: 0.5px solid #1C1C1C;
    border-radius: 1em;
    font-size: 1.25vw;
    box-shadow : 10px 5px 10px #D3D3D3;
}
.jumbotron form .form-group {
    display: flex;
    flex-direction: column;
}
.jumbotron form .long {
    width: 50.5vw;
}
.jumbotron form input {
    width: 25vw;
    font-size: 1.25vw;
}
.jumbotron form [type="submit"] {
    background-color: #3D5A80;
    color: #FFF;
    align-self: center;
    width: 30vw;
    font-size: 1.25vw;
    margin-top: 0.5em;
}
@media screen and (max-width: 765px) {
    .jumbotron form .long  {
        width: 25vw;      
    }
    .jumbotron form {
        width: 40vw;
    }
    .jumbotron form #submit {
        margin-top: 0;
        width: 25vw;
        align-self: flex-start;
    }
}