<<<<<<< HEAD
.jumbotron{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-direction: column;
    background-image: url("../IMG/header.jpg");
    background-size: 180vh;
    border-radius: 0 !important;
    height: 100vh;
}
.jumbotron h1 {
    font-size: 5vw;
    opacity: 1;
}
.jumbotron p {
    padding-top: 3vw;
    font-size: 1.5vw;
    opacity: 1;
}
.container {
    display: flex;
    background-color: rgb(0,0,0,0.5);
    color:  #FFF;
    border: 5px solid #FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vw;
    width: 80vw;
    padding: 10em;
    margin-bottom: 6%;
    transition: all .5s ease-out;
}
.container:hover {
    background-color: rgb(255,255,255,0.5);
    color:  #000;
}
=======
.jumbotron{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-direction: column;
    background-image: url("../IMG/header.jpg");
    background-size: 180vh;
    border-radius: 0 !important;
    height: 100vh;
}
.jumbotron h1 {
    font-size: 5vw;
    opacity: 1;
}
.jumbotron p {
    padding-top: 3vw;
    font-size: 1.5vw;
    opacity: 1;
}
.container {
    display: flex;
    background-color: rgb(0,0,0,0.5);
    color:  #FFF;
    border: 5px solid #FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vw;
    width: 80vw;
    padding: 10em;
    margin-bottom: 6%;
    transition: all .5s ease-out;
}
.container:hover {
    background-color: rgb(255,255,255,0.5);
    color:  #000;
}
>>>>>>> 670ebc6... Update
