#navbar {
    display: flex;
    background-color: #1C1C1C;
    padding: 1%;
    height: 5vw;
    align-items: center;
}
#navbar .dropdown a{
    font-size: 1vw;
}
#navbar img {
    height: 3vw;
}
#navbar #title {
    display: flex;
    align-items: flex-start;
    width: 15vw;
    margin-right: 7%;
    margin-left: 3%;
    margin-top: 1%;
    text-decoration: none;
    line-height: 0%;
}
#navbar #title h6 {
    width: 20vw;
    color: #98C1D9;
    font-size: 2.5vw;
    font-family: 'Rubik', sans-serif;;
}
#navbar #title h6 + h6 {
    color: #E0FBFC
}
#navbar #search-bar {
    height: 3vw;
    width: 50vw;
}
#navbar input {
    height: 3vw;
    font-size: 1.25vw;
}
#all-shows {
    width: 20vw;
    padding: .75vw;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D5A80;
    border-radius: 20px;
    transition: border .3s ease-out;
}
#all-shows:hover {
    border: 1px solid #FFF;
}
#all-shows a {
    color: #FFF;
    font-size: 1.2vw;
    text-decoration: none;
}
#user-container {
   display: flex;
   width: 40%;
   height: 5vw;
   justify-content: flex-end;
   align-items: center;
   position: relative;
}
#user-container #register,#login {
    margin-right: 5%;
    height: 3vw;
    width: 11vw;
    font-size: 1.25vw;
    line-height: 0vw;
    transition: border .3s ease-out;
}
#user-container #register:hover,#login:hover{
    border: 1px solid #FFF;
}
#user-container img {
    height: 3vw;
}
#user-container p{
    font-size: 1.25vw;
    color: #FFF;
    position: absolute;
    top: 35%;
    right: 30%;
    height: 3.2vw;
    border-bottom: 1px solid #EE6C4D;
}
#register {
    background-color: #EE6C4D;
    color: #E0FBFC;
}
#login {
    background-color: #3D5A80;
    color: #E0FBFC;
}