.jumbotron {
    display: flex;
    flex-direction: column;
}
#tab-container {
    margin-bottom: 1vw;
    margin-left: 0.5vw;
    width: 19vw;
    height: 2.5vw;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}
#tab-container a {
    margin-right: 3vw;
    font-size: 1vw;
    text-decoration: none;
    height: 2.5vw;
    color: #000;
}
#tab-container #selected-tab{
    border-bottom: 3px solid dodgerblue;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    margin-left: 2em;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    padding: 1em;
}
.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    border: 1px solid rgb(0, 0, 0, 0.05);
    border-radius: 1em;
    width: 45%;
}
.info-container .title {
    font-size: 1.75vw;
    padding-bottom: 1em;
    color: #3D5A80;
    width: 15vw;
}
.info-container .infos {
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin-left: 1em;
}
.info-container .infos .artist, .price, .category, .ticket, .auditorium {
    font-size: 1vw;
}
.info-container .button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 15vw;
}
.info-container .button-container button {
    height: auto;
    width: 7vw;
    font-size: 1vw;
}
.info-container .imgShow {
    height: 9vw;
    width: 15vw;
}
#list .categories{
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding-bottom: 1vw;
    width: 10vw;
}
#list .noResult{
    font-size: 1vw;
}
#moreShowsContainer{
    margin-bottom: 3vw;
}
#moreShowsContainer .btn-dark {
    width: 20vw;
    align-self: center;
    font-size: 1vw;
}
#moreShowsContainer p {
    font-size: 1.25vw;
}